<div class="container">
  <div>
    <h2>Ajouter un Animal :</h2>
  </div>
  <form class="from">
    <table align="center" width="100%">
      <tr hidden>

        <th> <label>ID Animal</label></th>
        <td><input
            type="text"
            [(ngModel)]="newAnimal.idAnimal"
            name="idAnimal"
            class="form-control"
            /></td>

      </tr>
      <tr>
        <th><label>Nom Animal</label></th>
        <td><input
            type="text"
            [(ngModel)]="newAnimal.nomAnimal" #name="ngModel"
            name="nomAnimal"
            class="form-control" required minlength="4"
            />
          <span *ngIf="name.invalid && name.touched"
            class="text-danger">
            Nom Animal Invalide*
          </span></td>
      </tr>

      <tr>
        <th><label>Groupe</label></th>
        <td>
          <select
            class="form-control form-control-lg"
            id="idGrp"
            name="idGrp"
            [(ngModel)]="newIdGrp" required #select="ngModel">
            <option *ngFor="let grp of groupes" [value]="grp.idGrp">
              {{ grp.nomGrp }}
            </option>
          </select>
          <span *ngIf="select.invalid && select.touched "
            class="text-danger">
            Choisir Groupe*
          </span></td>
      </tr>

      <tr> <th><label>Date Ajout</label></th>
        <td><input
            type="date"
            [(ngModel)]="newAnimal.dateAjout"
            name="dateAjout"
            class="form-control" required #date="ngModel"
            />
          <span *ngIf="date.invalid && date.touched"
            class="text-danger">
            Saisir date*
          </span></td>
      </tr>


      <tr> <th style="text-align: center;" colspan="2"><button type="submit"
            (click)="addAnimal()" class="btn btn-success">
            Ajouter
          </button>
          <a href="/animals"><button type="button" class="btn btn-secondary">
              Annuler
            </button></a></th></tr>

      <h3>{{ message }}</h3>

    </table>
  </form>
</div>
